body {
	background-color: #c7d3bd;
}

.corgi {
	/*background-image: url('corgi.jpg');*/
	background-repeat: no-repeat;
	background-size: 600px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 500px;
}

.corgi > * {
	position: absolute;
}

.corgi-body {
	width: 250px;
	height: 100px;
}

.corgi-body.top {
	background-color: #884b14;
	top: 200px;
	left: 60px;
	border-top-left-radius: 30px;
	z-index: 2;
}

.corgi-body.bottom {
	background-color: #f3fcec;
	top: 240px;
	left: 60px;
	border-bottom-left-radius: 30px;
	z-index: 1;
}

.corgi-neck {
	width: 100px;
	height: 100px;
	background-color: #f3fcec;
	top: 240px;
	right: 100px;
	border-bottom-right-radius: 100px;
}

.corgi-head {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background-color: #f3fcec;
	top: 130px;
	right: 55px;
	/*opacity: 0.5;*/
	z-index: 100;
}

.corgi-ears {
	width: 0;
	height: 0;
	top: 95px;
	text-indent: -9999px;
	border-bottom: 65px solid #884b14;
}

.corgi-ears.left {
	right: 160px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg); /* IE 9 */
	-webkit-transform: rotate(-30deg); /* Safari and Chrome */
}

.corgi-ears.right {
	right: 40px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	transform: rotate(40deg);
	-ms-transform: rotate(40deg); /* IE 9 */
	-webkit-transform: rotate(40deg); /* Safari and Chrome */
}

.corgi-inner-ears {
	width: 0;
	height: 0;
	top: 110px;
	text-indent: -9999px;
	border-bottom: 50px solid #f3fcec;
}

.corgi-inner-ears.left {
	right: 166px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg); /* IE 9 */
	-webkit-transform: rotate(-30deg); /* Safari and Chrome */
}


.corgi-inner-ears.right {
	right: 55px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	transform: rotate(40deg);
	-ms-transform: rotate(40deg); /* IE 9 */
	-webkit-transform: rotate(40deg); /* Safari and Chrome */
}

.corgi-eyes {
	width: 20px;
	height: 15px;
	top: 180px;
	background-color: #000;
	border-radius: 100%;
	z-index: 200;
}

.corgi-eyes.left {
	left: 340px;
}

.corgi-eyes.right {
	left: 390px;
}

.corgi-nose {
	width: 30px;
	height: 20px;
	border-radius: 100%;
	z-index: 200;
	background-color: #000;
	top: 230px;
	right: 110px;
}

.corgi-mouth {
	height:45px;
	width:80px;
	border-radius: 0 0 90px 90px;
	-moz-border-radius: 0 0 90px 90px;
	-webkit-border-radius: 0 0 90px 90px;
	border-bottom: 3px solid #000;
	border-left: 3px solid #000;
	border-right: 3px solid #000;
	top: 220px;
	right: 85px;
	z-index: 200;
}

.corgi-tongue {
 height:45px;
 width:40px;
 border-radius: 0 0 90px 90px;
 -moz-border-radius: 0 0 90px 90px;
 -webkit-border-radius: 0 0 90px 90px;
 background:#e34747;
 top: 260px;
 right: 105px;
 z-index: 200;
}

.corgi-legs {
	width: 50px;
	height: 80px;
	background-color: #f3fcec;
	top: 300px;
}

.corgi-legs.left {
	left: 60px;
}

.corgi-legs.right {
	left: 280px;
}

.corgi-paws {
	border-radius: 100%;
	width: 60px;
	height: 20px;
	background-color: #f3fcec;
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,.3);
	top: 370px;
}

.corgi-paws.left {
	left: 60px;
}

.corgi-paws.right {
	left: 280px;
}