body {
	background-color: #c7d3bd;
}

.corgi {
	background-image: url('corgi.jpg');
	background-repeat: no-repeat;
	background-size: 600px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 500px;
}

.corgi > * {
	position: absolute;
}

.corgi-body {
	width: 250px;
	height: 100px;
}

.corgi-body.top {
	background-color: #884b14;
	top: 200px;
	left: 60px;
	border-top-left-radius: 30px;
	z-index: 2;
}

.corgi-body.bottom {
	background-color: #f3fcec;
	top: 240px;
	left: 60px;
	border-bottom-left-radius: 30px;
	z-index: 1;
}