/**
 * twitter @thirtytwo_d
 * inspired by http://dribbble.com/shots/835890-This-guy
*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem;
  background-color: #7d211c;
}

.santa {
  margin: 0 auto;
  width: 9.2rem;
  position: relative;
}

.santa-body {
  width: 0;
  height: 0;
  border-bottom: 16rem solid #ff563f;
  border-left: 8.8rem solid transparent;
  overflow: hidden;
}
.santa-body:before, .santa-body:after {
  content: '';
  position: absolute;
}
.santa-body:before {
  width: 9.2rem;
  height: 5.8rem;
  background-color: #ff563f;
  bottom: -4.4rem;
  left: -.4rem;
  border-top-left-radius: 2.8rem;
  border-bottom-left-radius: 2.8rem;
}
.santa-body:after {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
  border-radius: 50%;
  top: -1rem;
  right: -.2rem;
}

.santa-hatbottom {
  width: 4.6rem;
  height: 1.4rem;
  background-color: white;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
  position: absolute;
  top: 6rem;
  right: .4rem;
  z-index: 1;
}
.santa-hatbottom:before, .santa-hatbottom:after {
  content: '';
  position: absolute;
}
.santa-hatbottom:before {
  width: .8rem;
  height: 4rem;
  background-color: white;
  top: 1.4rem;
  right: 0;
}
.santa-hatbottom:after {
  width: .4rem;
  height: .4rem;
  background-color: #ff9088;
  border-radius: 50%;
  top: 1.2rem;
  right: 1.5rem;
}

.santa-eye {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  background-color: #ff9088;
  border-radius: 50%;
  box-shadow: 0 .3rem #fff inset;
  z-index: 2;
}
.santa-eye:before, .santa-eye:after {
  content: '';
  position: absolute;
}
.santa-eye:before {
  width: .8rem;
  height: .4rem;
  border-radius: 0 0 .8rem .8rem;
  background-color: #ff9088;
  top: 1.8rem;
  left: 0.6rem;
}
.santa-eye:after {
  width: .6rem;
  height: .6rem;
  background-color: #7d211c;
  border-radius: 50%;
  top: .6rem;
  left: 0.5rem;
}

.eye-left {
  top: 7.7rem;
  left: 3.3rem;
}

.eye-right {
  top: 7.7rem;
  left: 6rem;
}
.eye-right:before {
  left: 0;
}

.santa-face {
  width: 4rem;
  height: 2.2rem;
  background: #ff9088;
  transform: skew(-28deg);
  position: absolute;
  top: 7.4rem;
  left: 4.1rem;
}
.santa-face:before, .santa-face:after {
  content: '';
  position: absolute;
}
.santa-face:before {
  width: .8rem;
  height: .8rem;
  background: #ff9088;
  top: 1.4rem;
  left: 3.9rem;
}
.santa-face:after {
  width: 1.8rem;
  height: 1.8rem;
  background: #fff;
  top: 2.2rem;
  left: 3.2rem;
  transform: skew(28deg);
}

.santa-beard {
  width: 4rem;
  height: 3.6rem;
  background: #fff;
  transform: skew(-29deg);
  position: absolute;
  top: 9.6rem;
  left: 2.5rem;
}
.santa-beard:before, .santa-beard:after {
  content: '';
  position: absolute;
  background-color: #fff;
}
.santa-beard:before {
  width: 4rem;
  height: 1.6rem;
  top: 3.6rem;
  left: 0;
}
.santa-beard:after {
  width: 3.2rem;
  height: 1.8rem;
  top: 1.8rem;
  left: 3.6rem;
  transform: skew(29deg);
  border-radius: 0  0 2.4rem 0;
}

.santa-features {
  width: 1.6rem;
  height: 1rem;
  border-radius: 0 0 1.6rem 1.6rem;
  background-color: #ff9088;
  position: absolute;
  top: 10.6rem;
  left: 4.6rem;
}
.santa-features:before, .santa-features:after {
  content: '';
  position: absolute;
}
.santa-features:before {
  width: 1.2rem;
  height: .7rem;
  border-radius: 0 0 1.2rem 1.2rem;
  background-color: #ff9088;
  top: -1rem;
  left: .2rem;
}
.santa-features:after {
  width: 2rem;
  height: 1.8rem;
  background-color: #fff;
  top: 2.4rem;
  left: -.2rem;
  border-radius: 0 0 2.2rem 0;
}

.santa-arm {
  width: 5.2rem;
  height: 3.6rem;
  background-color: #ff563f;
  position: absolute;
  top: 11.4rem;
}
.santa-arm:after {
  content: '';
  width: 2.2rem;
  height: 2.2rem;
  background-color: #ff563f;
  position: absolute;
  top: 0;
}

.arm-right {
  right: -4.8rem;
  border-right: 1.6rem solid #fff;
}
.arm-right:after {
  content: '';
  border-radius: 0 0 2.2rem 0;
  right: -3.8rem;
}

.arm-left {
  border-left: 1.6rem solid #fff;
  left: -2.7rem;
  z-index: -1;
}
.arm-left:after {
  content: '';
  border-radius: 0 0 0 2.2rem;
  left: -3.8rem;
}

.presents li {
  overflow: hidden;
  position: relative;
}
.presents li:before, .presents li:after {
  content: '';
  position: absolute;
}

.presents-left {
  position: absolute;
  top: 3.8rem;
  left: -5.7rem;
}
.presents-left:before, .presents-left:after {
  content: '';
  position: absolute;
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  border: 0.2rem solid #ff563f;
  top: -.6rem;
}
.presents-left:before {
  left: 1.3rem;
}
.presents-left:after {
  left: 1.8rem;
  z-index: -10;
}

.presents-left li:nth-child(1) {
  width: 1.4rem;
  height: 1.4rem;
  background-color: #ff9088;
  margin-left: 1.2rem;
}
.presents-left li:nth-child(1):before {
  height: 1.4rem;
  width: .2rem;
  background-color: #ff563f;
  left: .55rem;
}

.presents-left li:nth-child(2) {
  width: 2.4rem;
  height: 2rem;
  background-color: #ff563f;
  margin-left: 1.8rem;
}
.presents-left li:nth-child(2):before {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ff9088;
  border-radius: 50%;
  top: .9rem;
  left: -0.4rem;
}
.presents-left li:nth-child(2):after {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ff9088;
  border-radius: 50%;
  bottom: .8rem;
  right: -.4rem;
}

.presents-left li:nth-child(3) {
  width: 3.4rem;
  height: 2.4rem;
  background-color: #fff;
  margin-left: .6rem;
}
.presents-left li:nth-child(3):before {
  height: 2.4rem;
  width: .2rem;
  background-color: #ff563f;
  left: 2.4rem;
}
.presents-left li:nth-child(3):after {
  height: .2rem;
  width: 3.4rem;
  background-color: #ff563f;
  top: 1.1rem;
}

.presents-left li:nth-child(4) {
  width: 4.6rem;
  height: 1.8rem;
  background-color: #ff9088;
}
.presents-left li:nth-child(4):before {
  height: 1.8rem;
  width: .2rem;
  background-color: #7d211c;
  left: 2.3rem;
}
.presents-left li:nth-child(4):after {
  height: .2rem;
  width: 4.6rem;
  background-color: #7d211c;
  left: 0;
  top: .5rem;
}

.presents-right {
  position: absolute;
  top: 4rem;
  right: -8rem;
}
.presents-right:before, .presents-right:after {
  content: '';
  position: absolute;
  border: .2rem solid #fff;
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  top: -.6rem;
}
.presents-right:before {
  left: .3rem;
}
.presents-right:after {
  left: .7rem;
  z-index: -10;
}

.presents-right li:nth-child(1) {
  width: 1.8rem;
  height: 1.4rem;
  background-color: #ff563f;
}
.presents-right li:nth-child(1):before {
  height: 1.4rem;
  width: .2rem;
  background-color: #fff;
  left: .8rem;
}

.presents-right li:nth-child(2) {
  width: 3.2rem;
  height: 1.6rem;
  background-color: #fff;
  margin-left: .8rem;
}
.presents-right li:nth-child(2):before {
  height: 1.6rem;
  width: .2rem;
  background-color: #ff9088;
  left: 1.8rem;
}
.presents-right li:nth-child(2):after {
  height: .2rem;
  width: 3.2rem;
  background-color: #ff9088;
  top: .5rem;
}

.presents-right li:nth-child(3) {
  width: 4.2rem;
  height: 1.6rem;
  background-color: #ff563f;
  margin-left: -.8rem;
}
.presents-right li:nth-child(3):before {
  height: 1.6rem;
  width: .2rem;
  background-color: #7d211c;
  left: 1rem;
}
.presents-right li:nth-child(3):after {
  height: .2rem;
  width: 4.2rem;
  background-color: #7d211c;
  top: .7rem;
}

.presents-right li:nth-child(4) {
  width: 4.8rem;
  height: 2.8rem;
  background-color: #ff9088;
}
.presents-right li:nth-child(4):before {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ff563f;
  border-radius: 50%;
  bottom: -.6rem;
  left: -.6rem;
}
.presents-right li:nth-child(4):after {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ff563f;
  border-radius: 50%;
  bottom: 1.8rem;
  right: -.8rem;
}

.dot {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ff563f;
  border-radius: 50%;
  position: absolute;
  top: 9.2rem;
  left: 14rem;
}

.present-bows:before, .present-bows:after {
  content: '';
  position: absolute;
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  border: 0.2rem solid #ff9088;
  top: 4.8rem;
  z-index: -10;
}
.present-bows:before {
  left: 14.5rem;
}
.present-bows:after {
  left: 15rem;
}

.santa-belt {
  width: 9.2rem;
  height: 1.2rem;
  background-color: #7d211c;
  position: absolute;
  bottom: -1.8rem;
  right: .4rem;
}
.santa-belt:before, .santa-belt:after {
  content: '';
  position: absolute;
}
.santa-belt:before {
  width: 2rem;
  height: 1.4rem;
  border: .5rem solid #fff;
  bottom: -.6rem;
  left: 1.2rem;
}
.santa-belt:after {
  width: .8rem;
  height: .5rem;
  background-color: #fff;
  bottom: .45rem;
  left: 1.7rem;
}

.santa-legs {
  width: 4.8rem;
  height: 2.4rem;
  background-color: #ff563f;
  border-top: .6rem solid #fff;
  position: absolute;
  bottom: -6.8rem;
  right: .4rem;
}
.santa-legs:before, .santa-legs:after {
  content: '';
  width: 2rem;
  height: 1.6rem;
  background-color: #ff563f;
  position: absolute;
  top: .2rem;
}
.santa-legs:before {
  left: -2rem;
  border-radius: 2.2rem 1.2rem 0 0;
}
.santa-legs:after {
  right: -2rem;
  border-radius: 1.2rem 2.2rem 0 0;
}

.shadow {
  width: 1.6rem;
  height: 1rem;
  position: absolute;
  top: 15rem;
  left: 7.2rem;
  box-shadow: -0.2rem 0.2rem 0.2rem #7d211c inset;
}
.shadow:before {
  content: '';
  width: .2rem;
  height: 2rem;
  position: absolute;
  top: 6rem;
  left: -.9rem;
  box-shadow: 0.1rem 0 0.1rem #7d211c inset;
}

.dribbble {
  font: 1.2rem/1.5rem verdana,sans-serif;
  color: #fff;
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
}
